<div class="banners slider" id="J-slider">
    <ul class="slider-pic clearfix">
        <!--{split}-->
            <li ><a href="%redirect_url%" ><img src="%pic_url%" width="%pic_width%" height="%pic_height%" title="%content%" > </a></li>
        <!--{endsplit}-->
    </ul>
    <ul class="slider-num">
        <!--{split}-->
            <li >%num%</li>
        <!--{endsplit}-->
    </ul>
</div>

<script>(function($){var slider = new bomao.Slider({par:'#J-slider', triggers:'.slider-num li', panels:'.slider-pic li', sliderDirection:'left', sliderIsCarousel:true});})</script>