body {
    background-color: #613894;
}

.main-content {
    width: 1150px;
    height: 1314px;
    background: url(bg.jpg) center center no-repeat;
    background-size: contain;
    margin: 0 auto;
}

.main-content .txt-bg {
    margin: 0 auto;
    width: 595px;
    height: 299px;
    background: url(txt.png) bottom center no-repeat;
}

.main-content .time {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    height: 90px;
}

.main-content .po {
    width: 100%;
    height: 400px;
    color: white;
    font-size: 18px;
}
.main-content th {
    height:40px;
    text-align: center;
}

.main-content .po .pp {
    margin: 0 auto;
    width: 917px;
    height: 350px;
}

.main-content .po .pp td{
text-align: center;
}

.main-content .po .pp tr:nth-child(1) {
    height: 40px;
}

.main-content .po .pp tr:nth-child(2) {
    height: 40px;
}

.main-content .title-seperator{
    height:18px;
    width:2px;
    background-color: white;
}


.main-content .po .wow {
    width: 570px;
    height: 200px;
    background-color: rgba(22,22,22,.1);

}
.main-content .po .line-container{
    height:20px;

}

.main-content .po .line {
    width:100%;
    height:2px;
    background-color:white;
    margin:0 auto;
}

.main-content .po .vertical-line{
    width:2px;
    height:100%;
    background-color: white;
    margin:0 auto;
}





.main-content .po .activity-heart {
    position: relative;
    float: right;
    width: 530px;
    height: 276px;
}

.main-content .po .activity-heart .heart-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.main-content .po .activity-heart .heart-bg .heart-bg-top {
    width: 530px;
    height: 128px;
    background-color: #722923;
}

.main-content .po .activity-heart .heart-bg .heart-bg-bottom {
    width: 530px;
    height: 149px;
    background-color: #a02f1a;
}

.main-content .po .activity-heart .heart-content {
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
}







.main-content .explainer {
    padding-top: 56px;
    padding-left: 114px;
    padding-right: 114px;
    margin: 0 auto;
    width: 763px;
    height: 436px;
    background-color: rgba(0, 0, 0, .2);
}

.main-content .explainer p {
    font-size: 20px;
    color: white;
    text-indent: -31px;
}


